* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
    position: relative;
}

.splitter-wrapper {
    height: 100%;
}

.pane {
    overflow: hidden;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    color: #394053;
    font-size: 6em;
    font-family: Arial;

    span {
        width: 100%;
        text-align: center;
    }

    p {
        width: 100%;
        display: block;
        font-size: 18px;
        text-align: center;
    }

    &._1 {
        background-color: #BCD4DE;
    }
    &._2 {
        background-color: #A5CCD1;
    }
    &._3 {
        background-color: #A0B9BF;
    }
    &._4 {
        background-color: #9DACB2;
    }
}