@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f9f9f9; }

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.app {
  width: 100%;
  height: 100%;
  position: relative; }

.top-panel {
  width: 100%;
  height: 50px;
  background-color: #fff; }

.split {
  height: calc(100% - 50px); }
  .split .pane {
    background-color: #fff; }
